<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="${'id: '+userModel.getId()}">VALUE</div>
<div th:text="${'NAME: '+userModel.getName()}">VALUE</div>
<br>
<div th:each="project : ${projects}">
    <a th:href="@{/projects/{id}
            (id=${project.getId()})}" th:text="${project.getName()}">VALUE</a>
</div>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${userModel.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/users/{id}(id=${userModel.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>