<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Project name
<br>
<a th:href="@{/projects/{id}(id=${task.getPm().getId()})}" th:text="${task.getPm().getName()}">VALUE</a>
<br>
Assigned developer:
<a th:if="${task.getResponsible()==null}">There aren't any developers assigned on this task</a>
<a th:if="${task.getResponsible()!=null}" th:text="${task.getResponsible().getName()}"
th:href="@{/users/{id}(id=${task.getResponsible().getId()})}">value</a>
<br>
Task name
<br>
<a th:text="${task.getShortName()}">VALUE</a>
<a th:href="@{/tasks/edit/{id}(id=${task.getId()})}">Edit</a>
</body>
</html>