<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
<div align="left">
    Go home
    <a th:href="@{/users/{id}(id=${activeUser.getId()})}" th:text="${activeUser.getName()}">VALUE</a>
</div>
<div align="center">_______________________________________________________________________________________________________________________________________</div>
<br>
<form th:method="POST" th:object="${task}" th:action="@{/projects/createTask/{id}(id=${projectId})}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <input type="submit" value="Create!">
</form>
</body>
</html>