<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul.hr {
            margin: 0; /* Обнуляем значение отступов */
            padding: 4px; /* Значение полей */
        }
        ul.hr li {
            display: inline-block; /* Отображать как строчный элемент */
            margin-right: 5px; /* Отступ слева */
            border: 1px solid #000; /* Рамка вокруг текста */
            padding: 3px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>

<table border="1" width="600">
    <tr><th>Project name</th> <th>Developers</th></tr>
    <div th:each="projectModel:${projects}">
        <tr><td><a th:href="@{/projects/{id}
            (id=${projectModel.getId()})}" th:text="${projectModel.getName()}">VALUE</a></td>
            <td><a th:href="@{/projects/{id}
        (id=${projectModel.getId()})}" th:text="${projectModel.getDevelopers()}">VALUE</a></td></tr>
    </div>
</table>
Page:
<nobr th:each="page:${pages}">
    <a th:href="@{/projects/page/{id}(id=${page})}" th:text="${page} "
       th:if="${page==activePage} " style="color:brown">VALUE</a>
    <a th:href="@{/projects/page/{id}(id=${page})}" th:text="${page} "
       th:if="${page!=activePage}">VALUE</a>
</nobr>
<br>
Sort by:
<form th:action="@{/projects/sort}" th:object="${sort}" method="POST">
    <select name="sort">
        <option th:each="type : ${sort}" th:text="${type}">VALUE</option>
    </select>
    <input type="submit" value="Sort">
</form>
<br>
<a href="/projects/new">Create new project</a>
</body>
</html>