<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<div align="left">
    Go home
    <a th:href="@{/users/{id}(id=${activeUser.getId()})}" th:text="${activeUser.getName()}">VALUE</a>
    <a href="/projects">All projects</a>
</div>
<div align="center">_______________________________________________________________________________________________________________________________________</div>
<br>
<div th:text="${'id: '+projectModel.getId()}">VALUE</div>
<div th:text="${'NAME: '+projectModel.getName()}">VALUE</div>
<!--<div th:text="${'Assigned devs: '+projectModel.getDevelopers()}">VALUE</div>-->
<br>
Assigned devs:
<div th:each="dev:${projectModel.getDevelopers()}">
    <a th:href="@{/users/{id}(id=${dev.getId()})}" th:text="${dev.getName()}">VALUE</a>
</div>
Current tasks:
<div th:each="task:${projectModel.getTasks()}">
    <a th:href="@{/tasks/show/{id}(id=${task.getId()})}" th:text="${task.getShortName()}">VALUE</a>
</div>
<a th:href="@{/projects/{id}/edit(id=${projectModel.getId()})}">Edit</a>
<br>
<form th:method="DELETE" th:action="@{/projects/{id}(id=${projectModel.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a href="/projects">Back to projectList</a>
</body>
</html>